# **Libraries**

In [1]:
import pandas as pd
import numpy as np

from feature_engine.selection import DropCorrelatedFeatures
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

import lightgbm as lgb
from sklearn.metrics import roc_auc_score

from feature_engine.encoding import WoEEncoder
from feature_engine.imputation import CategoricalImputer
from feature_engine.imputation import ArbitraryNumberImputer

import functions
import importlib
importlib.reload(functions)

import warnings

# **Display**

In [2]:
%matplotlib inline

pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

warnings.filterwarnings("ignore")
warnings.simplefilter(action="ignore", category=FutureWarning)

pd.set_option('display.max_rows', 200)

size = 20

# **Load Data**

In [3]:
train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\application_train.csv",
    index_col=False
)


test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\application_test.csv",
    index_col=False
)

# **Variables**

In [4]:
random_state = 101
target = 'TARGET'

## **Remove Empty Features**

In [5]:
list_columns = functions.check_columns_with_one_uniquevalue(test)

In [6]:
train = train.drop(list_columns, axis = 1)

## **Reduce Memory Usage**

In [7]:
train = functions.reduce_memory_usage(train)

Memory usage of dataframe is 260.42 MB
Memory usage after optimization is: 89.15 MB
Decreased by 65.8%

# **Data Cleaning**

In [8]:
train = train[train['CODE_GENDER'] != 'XNA']
train['DAYS_EMPLOYED'][train['DAYS_EMPLOYED'] == 365243] = np.nan

# **Feature Engineering**

## **'DAY_BIRTH' to 'AGE' in Years**

In [9]:
train["DAYS_BIRTH"] = abs(train["DAYS_BIRTH"])
train["DAYS_BIRTH"] = train["DAYS_BIRTH"]/365
train.rename(columns={'DAYS_BIRTH': 'AGE'}, inplace=True)
train["AGE"].describe()

count    307507.000000
mean         43.937061
std          11.956116
min          20.517808
25%          34.008219
50%          43.150685
75%          53.923288
max          69.120548
Name: Age, dtype: float64

## **'DAYS_EMPLOYED' to 'YEARS_EMPLOYED'**

In [10]:
train["DAYS_EMPLOYED"] = abs(train["DAYS_EMPLOYED"])
train["DAYS_EMPLOYED"] = train["DAYS_EMPLOYED"]/365
train.rename(columns={"DAYS_EMPLOYED": 'YEARS_EMPLOYED'}, inplace=True)
train["YEARS_EMPLOYED"].describe()

count    252133.000000
mean          6.531897
std           6.406377
min           0.000000
25%           2.101370
50%           4.515068
75%           8.698630
max          49.073973
Name: YEARS_EMPLOYED, dtype: float64

## **'DAYS_ID_PUBLISH' to 'YEARS_ID_PUBLISH'**

In [11]:
train["DAYS_ID_PUBLISH"] = abs(train["DAYS_ID_PUBLISH"])
train["DAYS_ID_PUBLISH"] = train["DAYS_ID_PUBLISH"]/365
train.rename(columns={"DAYS_ID_PUBLISH": 'YEARS_ID_PUBLISH'}, inplace=True)
train["YEARS_ID_PUBLISH"].describe()

count    307507.000000
mean          8.203292
std           4.135492
min           0.000000
25%           4.712329
50%           8.915068
75%          11.778082
max          19.717808
Name: YEARS_ID_PUBLISH, dtype: float64

## **'DAYS_REGISTRATION' to 'YEARS_REGISTRATION'**

In [12]:
train["DAYS_REGISTRATION"] = abs(train["DAYS_REGISTRATION"])
train["DAYS_REGISTRATION"] = train["DAYS_REGISTRATION"]/365
train.rename(columns={"DAYS_REGISTRATION": 'YEARS_REGISTRATION'}, inplace=True)
train["YEARS_REGISTRATION"].describe()

count    307507.000000
mean               NaN
std           0.000000
min           0.000000
25%           5.507812
50%          12.335938
75%          20.500000
max          67.625000
Name: YEARS_REGISTRATION, dtype: float64

## **'DAYS_LAST_PHONE_CHANGE' to 'YEARS_LAST_PHONE_CHANGE'**

In [13]:
train["DAYS_LAST_PHONE_CHANGE"] = abs(train["DAYS_LAST_PHONE_CHANGE"])
train["DAYS_LAST_PHONE_CHANGE"] = train["DAYS_LAST_PHONE_CHANGE"]/365
train.rename(columns={"DAYS_LAST_PHONE_CHANGE": 'YEARS_LAST_PHONE_CHANGE'}, inplace=True)
train["YEARS_LAST_PHONE_CHANGE"].describe()

count    307506.000000
mean               NaN
std           0.000000
min           0.000000
25%           0.750488
50%           2.074219
75%           4.300781
max          11.757812
Name: YEARS_LAST_PHONE_CHANGE, dtype: float64

## **Ratio of Credit Amount to Client's Income**

In [14]:
train['CREDIT_INCOME_RATIO'] = train['AMT_CREDIT'] / train['AMT_INCOME_TOTAL']

## **Ratio of the Loan Annuity to a Client's Income**

In [15]:
train['ANNUITY_INCOME_RATIO'] = train['AMT_ANNUITY'] / train['AMT_INCOME_TOTAL']

## **Income per Family Member**

In [ ]:
train['INCOME_PER_FAMILY_MEMBER'] = train['AMT_INCOME_TOTAL'] / train['CNT_FAM_MEMBERS']

## **Length of the Payment**

In [16]:
train['CREDIT_TERM'] = train['AMT_ANNUITY'] / train['AMT_CREDIT']

## **Ratio of the Days Employed to the Client's Age**

In [17]:
train['YEARS_EMPLOYED_Ratio'] = train['YEARS_EMPLOYED'] / train['AGE']

## **Average of External Sources**

In [ ]:
train['EXT_SOURCE_MEAN'] = train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)

## **Ratio of Dependents to Family Size**

In [ ]:
train['DEPENDENTS_TO_FAMILY_SIZE'] = train['CNT_CHILDREN'] / train['CNT_FAM_MEMBERS']

# **Missing Values**

In [ ]:
functions.MissingValues(train)

## **Imputation**

In [19]:
ani = ArbitraryNumberImputer(arbitrary_number=-99999)
ani.fit(train)
train = ani.transform(train)

In [20]:
ci = CategoricalImputer(imputation_method='missing', fill_value='UNKNOWN')
ci.fit(train)
train = ci.transform(train)

## **WoE Encoder**

In [21]:
woe = WoEEncoder(fill_value=0.0001)
woe.fit(train, train[target])
train = woe.transform(train)

## **Train Test Split**

In [22]:
X = train.drop('TARGET', axis=1)
y = train['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

### **LGBM**

In [23]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.76

## **Feature Importance**

In [24]:
feature_importance = model.feature_importances_
feature_names = X.columns

importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False).reset_index(drop=True)

importance_df

                          Feature  Importance
112                   CREDIT_TERM         333
42                   EXT_SOURCE_3         202
41                   EXT_SOURCE_2         197
40                   EXT_SOURCE_1         167
16                            Age         160
19               YEARS_ID_PUBLISH         119
8                     AMT_ANNUITY         105
9                 AMT_GOODS_PRICE          92
113        YEARS_EMPLOYED_PERCENT          80
17                 YEARS_EMPLOYED          76
7                      AMT_CREDIT          75
39              ORGANIZATION_TYPE          74
18             YEARS_REGISTRATION          74
111        ANNUITY_INCOME_PERCENT          72
94        YEARS_LAST_PHONE_CHANGE          65
110         CREDIT_INCOME_PERCENT          59
2                     CODE_GENDER          48
0                      SK_ID_CURR          46
20                    OWN_CAR_AGE          44
27                OCCUPATION_TYPE          40
15     REGION_POPULATION_RELATIVE          40
13             NAME_FAMILY_STATUS          35
12            NAME_EDUCATION_TYPE          33
109    AMT_REQ_CREDIT_BUREAU_YEAR          30
6                AMT_INCOME_TOTAL          29
3                    FLAG_OWN_CAR          26
1              NAME_CONTRACT_TYPE          25
30    REGION_RATING_CLIENT_W_CITY          24
91       DEF_30_CNT_SOCIAL_CIRCLE          22
87                 TOTALAREA_MODE          22
108     AMT_REQ_CREDIT_BUREAU_QRT          22
32        HOUR_APPR_PROCESS_START          21
23                FLAG_WORK_PHONE          20
31     WEEKDAY_APPR_PROCESS_START          19
28                CNT_FAM_MEMBERS          19
95                FLAG_DOCUMENT_3          17
90       OBS_30_CNT_SOCIAL_CIRCLE          17
49                  ENTRANCES_AVG          16
52                   LANDAREA_AVG          16
66                  LANDAREA_MODE          16
47                 COMMONAREA_AVG          15
70             NONLIVINGAREA_MODE          14
36         REG_CITY_NOT_LIVE_CITY          14
93       DEF_60_CNT_SOCIAL_CIRCLE          13
11               NAME_INCOME_TYPE          13
50                  FLOORSMAX_AVG          12
43                 APARTMENTS_AVG          12
10                NAME_TYPE_SUITE          11
67          LIVINGAPARTMENTS_MODE          11
57                APARTMENTS_MODE          11
45    YEARS_BEGINEXPLUATATION_AVG          10
14              NAME_HOUSING_TYPE          10
58              BASEMENTAREA_MODE          10
104    AMT_REQ_CREDIT_BUREAU_HOUR          10
68                LIVINGAREA_MODE          10
55        NONLIVINGAPARTMENTS_AVG          10
92       OBS_60_CNT_SOCIAL_CIRCLE           9
88             WALLSMATERIAL_MODE           9
82                LIVINGAREA_MEDI           9
54                 LIVINGAREA_AVG           9
59   YEARS_BEGINEXPLUATATION_MODE           9
73   YEARS_BEGINEXPLUATATION_MEDI           9
53           LIVINGAPARTMENTS_AVG           9
56              NONLIVINGAREA_AVG           8
69       NONLIVINGAPARTMENTS_MODE           8
5                    CNT_CHILDREN           7
84             NONLIVINGAREA_MEDI           7
77                 ENTRANCES_MEDI           7
60               YEARS_BUILD_MODE           6
107     AMT_REQ_CREDIT_BUREAU_MON           6
72              BASEMENTAREA_MEDI           6
51                  FLOORSMIN_AVG           6
46                YEARS_BUILD_AVG           6
61                COMMONAREA_MODE           6
80                  LANDAREA_MEDI           5
29           REGION_RATING_CLIENT           5
25                     FLAG_PHONE           5
48                  ELEVATORS_AVG           5
44               BASEMENTAREA_AVG           5
71                APARTMENTS_MEDI           5
78                 FLOORSMAX_MEDI           5
75                COMMONAREA_MEDI           4
98                FLAG_DOCUMENT_6           4
103              FLAG_DOCUMENT_18           4
85             FONDKAPREMONT_MODE           3
65                 FLOORSMIN_MODE           3
63                 ENTRANCES_MODE           3
81          LIVINGAPARTMENTS_MEDI           3
74               YEARS_BUILD_MEDI           3
83       NONLIVINGAPARTMENTS_MEDI           2
34     REG_REGION_NOT_WORK_REGION           2
4                 FLAG_OWN_REALTY           2
64                 FLOORSMAX_MODE           2
76                 ELEVATORS_MEDI           2
100               FLAG_DOCUMENT_8           2
86                 HOUSETYPE_MODE           2
35    LIVE_REGION_NOT_WORK_REGION           1
26                     FLAG_EMAIL           1
89            EMERGENCYSTATE_MODE           1
105     AMT_REQ_CREDIT_BUREAU_DAY           1
106    AMT_REQ_CREDIT_BUREAU_WEEK           1
38        LIVE_CITY_NOT_WORK_CITY           0
24               FLAG_CONT_MOBILE           0
22                 FLAG_EMP_PHONE           0
21                     FLAG_MOBIL           0
33     REG_REGION_NOT_LIVE_REGION           0
37         REG_CITY_NOT_WORK_CITY           0
62                 ELEVATORS_MODE           0
79                 FLOORSMIN_MEDI           0
96                FLAG_DOCUMENT_4           0
97                FLAG_DOCUMENT_5           0
102              FLAG_DOCUMENT_11           0
99                FLAG_DOCUMENT_7           0
101               FLAG_DOCUMENT_9           0

## **Keep Columns**

In [25]:
columns = ['CREDIT_TERM',
                   'EXT_SOURCE_3',
                   'EXT_SOURCE_1',
                   'EXT_SOURCE_2',
                   'YEARS_ID_PUBLISH',
                   'AMT_ANNUITY', 
                   'AMT_GOODS_PRICE', 
                   'YEARS_EMPLOYED_PERCENT',
                   'YEARS_EMPLOYED',
                   'ORGANIZATION_TYPE',
                   'AMT_CREDIT',
                   'YEARS_REGISTRATION',
                   'YEARS_LAST_PHONE_CHANGE',
                   'ANNUITY_INCOME_PERCENT',
                   'CREDIT_INCOME_PERCENT',
                   'OCCUPATION_TYPE',
                   'OWN_CAR_AGE',
                   'CODE_GENDER',
                   'REGION_POPULATION_RELATIVE',
                   'TARGET'] 
train = train[columns]

### **LGBM**

In [27]:
X = train.drop('TARGET', axis=1)
y = train['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [28]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.76

## **Feature Importance**

In [29]:
feature_importance = model.feature_importances_
feature_names = X.columns

importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False).reset_index(drop=True)

importance_df

                       Feature  Importance
0                  CREDIT_TERM         460
1                 EXT_SOURCE_3         271
3                 EXT_SOURCE_2         248
2                 EXT_SOURCE_1         218
4             YEARS_ID_PUBLISH         177
5                  AMT_ANNUITY         156
6              AMT_GOODS_PRICE         148
11          YEARS_REGISTRATION         147
12     YEARS_LAST_PHONE_CHANGE         132
13      ANNUITY_INCOME_PERCENT         132
8               YEARS_EMPLOYED         128
9            ORGANIZATION_TYPE         126
10                  AMT_CREDIT         126
7       YEARS_EMPLOYED_PERCENT         121
16                 OWN_CAR_AGE         105
18  REGION_POPULATION_RELATIVE          99
14       CREDIT_INCOME_PERCENT          93
15             OCCUPATION_TYPE          70
17                 CODE_GENDER          43

## **Drop Columns**

In [30]:
columns = ['CODE_GENDER'
                ] 
train = train.drop(columns=columns)

### **LGBM**

In [31]:
X = train.drop('TARGET', axis=1)
y = train['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [32]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.76

## **Feature Importance**

In [34]:
feature_importance = model.feature_importances_
feature_names = X.columns

importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False).reset_index(drop=True)

importance_df

                       Feature  Importance
0                  CREDIT_TERM         425
1                 EXT_SOURCE_3         292
2                 EXT_SOURCE_2         261
3                 EXT_SOURCE_1         220
4           YEARS_REGISTRATION         168
5             YEARS_ID_PUBLISH         159
6               YEARS_EMPLOYED         156
7              AMT_GOODS_PRICE         143
8                   AMT_CREDIT         143
9                  AMT_ANNUITY         140
10           ORGANIZATION_TYPE         136
11     YEARS_LAST_PHONE_CHANGE         131
12      ANNUITY_INCOME_PERCENT         126
13  REGION_POPULATION_RELATIVE         111
14             OCCUPATION_TYPE         102
15      YEARS_EMPLOYED_PERCENT         101
16                 OWN_CAR_AGE          97
17       CREDIT_INCOME_PERCENT          89