# **Libraries**

In [1]:
import pandas as pd
import numpy as np

import functions
import importlib
importlib.reload(functions)

import warnings

# **Display**

In [2]:
%matplotlib inline

pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

warnings.filterwarnings("ignore")
warnings.simplefilter(action="ignore", category=FutureWarning)

pd.set_option('display.max_rows', 200)

size = 20

# **Data**

## **Load Data**

In [3]:
train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\application_train.csv",
    index_col=False
)


test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\application_test.csv",
    index_col=False
)

In [ ]:
train.shape

## **Reduce Memory Usage**

In [4]:
train = functions.reduce_memory_usage(train)

Memory usage of dataframe is 286.23 MB
Memory usage after optimization is: 92.38 MB
Decreased by 67.7%

# **Pre-Processing**

## **Removing Empty Features**

In [5]:
list_columns = functions.check_columns_with_one_uniquevalue(test)

In [6]:
train = train.drop(list_columns, axis = 1)

In [7]:
train.shape

(307511, 111)

## **Removing Inaccurate Entries**

In [8]:
train = train[train['CODE_GENDER'] != 'XNA']
train['DAYS_EMPLOYED'][train['DAYS_EMPLOYED'] == 365243] = np.nan

## **Remove Infinity Values**

In [9]:
train.replace([np.inf, -np.inf], np.nan, inplace=True)

## **'DAY_BIRTH' to 'AGE' in Years**

In [10]:
train["DAYS_BIRTH"] = abs(train["DAYS_BIRTH"])
train["DAYS_BIRTH"] = train["DAYS_BIRTH"]/365
train.rename(columns={'DAYS_BIRTH': 'AGE'}, inplace=True)
train["AGE"].describe()

count    307507.000000
mean         43.937061
std          11.956116
min          20.517808
25%          34.008219
50%          43.150685
75%          53.923288
max          69.120548
Name: AGE, dtype: float64

## **'DAYS_EMPLOYED' to 'YEARS_EMPLOYED'**

In [11]:
train["DAYS_EMPLOYED"] = abs(train["DAYS_EMPLOYED"])
train["DAYS_EMPLOYED"] = train["DAYS_EMPLOYED"]/365
train.rename(columns={"DAYS_EMPLOYED": 'YEARS_EMPLOYED'}, inplace=True)
train["YEARS_EMPLOYED"].describe()

count    252133.000000
mean          6.531897
std           6.406377
min           0.000000
25%           2.101370
50%           4.515068
75%           8.698630
max          49.073973
Name: YEARS_EMPLOYED, dtype: float64

## **'DAYS_ID_PUBLISH' to 'YEARS_ID_PUBLISH'**

In [12]:
train["DAYS_ID_PUBLISH"] = abs(train["DAYS_ID_PUBLISH"])
train["DAYS_ID_PUBLISH"] = train["DAYS_ID_PUBLISH"]/365
train.rename(columns={"DAYS_ID_PUBLISH": 'YEARS_ID_PUBLISH'}, inplace=True)
train["YEARS_ID_PUBLISH"].describe()

count    307507.000000
mean          8.203292
std           4.135492
min           0.000000
25%           4.712329
50%           8.915068
75%          11.778082
max          19.717808
Name: YEARS_ID_PUBLISH, dtype: float64

## **'DAYS_REGISTRATION' to 'YEARS_REGISTRATION'**

In [13]:
train["DAYS_REGISTRATION"] = abs(train["DAYS_REGISTRATION"])
train["DAYS_REGISTRATION"] = train["DAYS_REGISTRATION"]/365
train.rename(columns={"DAYS_REGISTRATION": 'YEARS_REGISTRATION'}, inplace=True)
train["YEARS_REGISTRATION"].describe()

count    307507.000000
mean               NaN
std           0.000000
min           0.000000
25%           5.507812
50%          12.335938
75%          20.500000
max          67.625000
Name: YEARS_REGISTRATION, dtype: float64

## **'DAYS_LAST_PHONE_CHANGE' to 'YEARS_LAST_PHONE_CHANGE'**

In [14]:
train["DAYS_LAST_PHONE_CHANGE"] = abs(train["DAYS_LAST_PHONE_CHANGE"])
train["DAYS_LAST_PHONE_CHANGE"] = train["DAYS_LAST_PHONE_CHANGE"]/365
train.rename(columns={"DAYS_LAST_PHONE_CHANGE": 'YEARS_LAST_PHONE_CHANGE'}, inplace=True)
train["YEARS_LAST_PHONE_CHANGE"].describe()

count    307506.000000
mean               NaN
std           0.000000
min           0.000000
25%           0.750488
50%           2.074219
75%           4.300781
max          11.757812
Name: YEARS_LAST_PHONE_CHANGE, dtype: float64

# **Missing Values**

In [15]:
functions.MissingValues(train)

                              NumberMissing  PercentageMissing DataType
COMMONAREA_MODE                      214862              69.87  float16
COMMONAREA_MEDI                      214862              69.87  float16
COMMONAREA_AVG                       214862              69.87  float16
NONLIVINGAPARTMENTS_AVG              213512              69.43  float16
NONLIVINGAPARTMENTS_MODE             213512              69.43  float16
NONLIVINGAPARTMENTS_MEDI             213512              69.43  float16
FONDKAPREMONT_MODE                   210293              68.39   object
LIVINGAPARTMENTS_MODE                210197              68.36  float16
LIVINGAPARTMENTS_AVG                 210197              68.36  float16
LIVINGAPARTMENTS_MEDI                210197              68.36  float16
FLOORSMIN_MEDI                       208640              67.85  float16
FLOORSMIN_AVG                        208640              67.85  float16
FLOORSMIN_MODE                       208640              67.85  float16
YEARS_BUILD_MEDI                     204486              66.50  float16
YEARS_BUILD_MODE                     204486              66.50  float16
YEARS_BUILD_AVG                      204486              66.50  float16
OWN_CAR_AGE                          202927              65.99  float16
LANDAREA_MEDI                        182588              59.38  float16
LANDAREA_AVG                         182588              59.38  float16
LANDAREA_MODE                        182588              59.38  float16
BASEMENTAREA_MODE                    179942              58.52  float16
BASEMENTAREA_AVG                     179942              58.52  float16
BASEMENTAREA_MEDI                    179942              58.52  float16
EXT_SOURCE_1                         173376              56.38  float16
NONLIVINGAREA_MEDI                   169680              55.18  float16
NONLIVINGAREA_MODE                   169680              55.18  float16
NONLIVINGAREA_AVG                    169680              55.18  float16
ELEVATORS_AVG                        163890              53.30  float16
ELEVATORS_MEDI                       163890              53.30  float16
ELEVATORS_MODE                       163890              53.30  float16
WALLSMATERIAL_MODE                   156340              50.84   object
APARTMENTS_MODE                      156060              50.75  float16
APARTMENTS_AVG                       156060              50.75  float16
APARTMENTS_MEDI                      156060              50.75  float16
ENTRANCES_MODE                       154827              50.35  float16
ENTRANCES_AVG                        154827              50.35  float16
ENTRANCES_MEDI                       154827              50.35  float16
LIVINGAREA_MODE                      154349              50.19  float16
LIVINGAREA_AVG                       154349              50.19  float16
LIVINGAREA_MEDI                      154349              50.19  float16
HOUSETYPE_MODE                       154296              50.18   object
FLOORSMAX_MEDI                       153019              49.76  float16
FLOORSMAX_AVG                        153019              49.76  float16
FLOORSMAX_MODE                       153019              49.76  float16
YEARS_BEGINEXPLUATATION_MODE         150006              48.78  float16
YEARS_BEGINEXPLUATATION_AVG          150006              48.78  float16
YEARS_BEGINEXPLUATATION_MEDI         150006              48.78  float16
TOTALAREA_MODE                       148430              48.27  float16
EMERGENCYSTATE_MODE                  145754              47.40   object
OCCUPATION_TYPE                       96389              31.35   object
EXT_SOURCE_3                          60965              19.83  float16
YEARS_EMPLOYED                        55374              18.01  float64
AMT_REQ_CREDIT_BUREAU_WEEK            41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_MON             41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_HOUR            41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_YEAR            41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_QRT             41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_DAY             41519              13.50  float16
NAME_TYPE_SUITE                        1292               0.42   object
DEF_30_CNT_SOCIAL_CIRCLE               1021               0.33  float16
DEF_60_CNT_SOCIAL_CIRCLE               1021               0.33  float16
OBS_30_CNT_SOCIAL_CIRCLE               1021               0.33  float16
OBS_60_CNT_SOCIAL_CIRCLE               1021               0.33  float16
EXT_SOURCE_2                            660               0.21  float16
AMT_GOODS_PRICE                         278               0.09  float32
AMT_ANNUITY                              12               0.00  float32
CNT_FAM_MEMBERS                           2               0.00  float16
YEARS_LAST_PHONE_CHANGE                   1               0.00  float16

# **Save Dataframe as CSV File**

In [16]:
train.shape

(307507, 111)

In [17]:
train.to_csv(r"C:\Users\Dell\Documents\AI\Risk\Data\Data\train.csv", index=False)