# **Libraries**

In [1]:
import pandas as pd
import numpy as np

from feature_engine.selection import DropCorrelatedFeatures
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

import lightgbm as lgb
from sklearn.metrics import roc_auc_score

from feature_engine.encoding import WoEEncoder

import functions
import importlib
importlib.reload(functions)

import warnings

# **Display**

In [2]:
%matplotlib inline

pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

warnings.filterwarnings("ignore")
warnings.simplefilter(action="ignore", category=FutureWarning)

pd.set_option('display.max_rows', 200)

size = 20

# **Data**

## **Load Data**

In [3]:
app_train = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\application_train.csv",
    index_col=False
)

app_test = pd.read_csv(
    r"C:\Users\Dell\Documents\AI\Risk\Data\application_test.csv",
    index_col=False
)

# **Variables**

In [4]:
data = app_train.copy()
random_state = 101
target = 'TARGET'

## **Remove Empty Features**

In [5]:
list_columns = functions.check_columns_with_one_uniquevalue(app_test)

In [6]:
data = data.drop(list_columns, axis = 1)

In [7]:
data.shape

(307511, 111)

## **Drop Collinear Features**

In [8]:
dcf = DropCorrelatedFeatures(threshold=0.7)
data = dcf.fit_transform(data)

## **Drop Unneeded Features**

In [9]:
data.drop('SK_ID_CURR', axis=1, inplace=True)

In [10]:
data.shape

(307511, 68)

## **Reduce Memory Usage**

In [11]:
data = functions.reduce_memory_usage(data)

Memory usage of dataframe is 159.54 MB
Memory usage after optimization is: 63.35 MB
Decreased by 60.3%

# **Data Cleaning**

In [12]:
data = data[data['CODE_GENDER'] != 'XNA']
data['DAYS_EMPLOYED'][data['DAYS_EMPLOYED'] == 365243] = np.nan

## **Missing Values**

In [13]:
functions.MissingValues(data)

                             NumberMissing  PercentageMissing DataType
COMMONAREA_AVG                      214862              69.87  float16
NONLIVINGAPARTMENTS_AVG             213512              69.43  float16
FONDKAPREMONT_MODE                  210293              68.39   object
YEARS_BUILD_AVG                     204486              66.50  float16
OWN_CAR_AGE                         202927              65.99  float16
LANDAREA_AVG                        182588              59.38  float16
BASEMENTAREA_AVG                    179942              58.52  float16
EXT_SOURCE_1                        173376              56.38  float16
NONLIVINGAREA_AVG                   169680              55.18  float16
WALLSMATERIAL_MODE                  156340              50.84   object
APARTMENTS_AVG                      156060              50.75  float16
ENTRANCES_AVG                       154827              50.35  float16
HOUSETYPE_MODE                      154296              50.18   object
FLOORSMAX_AVG                       153019              49.76  float16
YEARS_BEGINEXPLUATATION_AVG         150006              48.78  float16
EMERGENCYSTATE_MODE                 145754              47.40   object
OCCUPATION_TYPE                      96389              31.35   object
EXT_SOURCE_3                         60965              19.83  float16
DAYS_EMPLOYED                        55374              18.01  float64
AMT_REQ_CREDIT_BUREAU_QRT            41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_HOUR           41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_MON            41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_DAY            41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_YEAR           41519              13.50  float16
AMT_REQ_CREDIT_BUREAU_WEEK           41519              13.50  float16
NAME_TYPE_SUITE                       1292               0.42   object
OBS_30_CNT_SOCIAL_CIRCLE              1021               0.33  float16
DEF_30_CNT_SOCIAL_CIRCLE              1021               0.33  float16
EXT_SOURCE_2                           660               0.21  float16
AMT_ANNUITY                             12               0.00  float32
DAYS_LAST_PHONE_CHANGE                   1               0.00  float16

In [14]:
num_value = -99999

for col in data.select_dtypes(include=['float16', 'float32', 'float64']).columns:
    data[col].fillna(num_value, inplace=True)

In [15]:
cat_value = 'UNKNOWN'

for col in data.select_dtypes(include=['object']).columns:
    data[col].fillna(cat_value, inplace=True)

## **WoE Encoder**

In [16]:
woe = WoEEncoder(fill_value=0.0001)
woe.fit(data, data[target])
data = woe.transform(data)

## **Train Test Split**

In [17]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

### **LGBM**

In [18]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.75

## **Feature Importance**

In [19]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                        Feature  Importance
34                 EXT_SOURCE_3         240
33                 EXT_SOURCE_2         238
32                 EXT_SOURCE_1         220
13                   DAYS_BIRTH         205
6                   AMT_ANNUITY         175
16              DAYS_ID_PUBLISH         160
14                DAYS_EMPLOYED         155
51       DAYS_LAST_PHONE_CHANGE         104
15            DAYS_REGISTRATION         100
31            ORGANIZATION_TYPE          99
5              AMT_INCOME_TOTAL          87
23              OCCUPATION_TYPE          71
12   REGION_POPULATION_RELATIVE          58
17                  OWN_CAR_AGE          54
1                   CODE_GENDER          53
35               APARTMENTS_AVG          51
9           NAME_EDUCATION_TYPE          51
10           NAME_FAMILY_STATUS          47
36             BASEMENTAREA_AVG          45
50     DEF_30_CNT_SOCIAL_CIRCLE          44
37  YEARS_BEGINEXPLUATATION_AVG          43
26      HOUR_APPR_PROCESS_START          43
66   AMT_REQ_CREDIT_BUREAU_YEAR          37
49     OBS_30_CNT_SOCIAL_CIRCLE          35
44            NONLIVINGAREA_AVG          33
40                ENTRANCES_AVG          33
2                  FLAG_OWN_CAR          32
25   WEEKDAY_APPR_PROCESS_START          32
0            NAME_CONTRACT_TYPE          31
65    AMT_REQ_CREDIT_BUREAU_QRT          31
39               COMMONAREA_AVG          30
41                FLOORSMAX_AVG          29
42                 LANDAREA_AVG          28
38              YEARS_BUILD_AVG          26
52              FLAG_DOCUMENT_3          25
24         REGION_RATING_CLIENT          24
11            NAME_HOUSING_TYPE          23
43      NONLIVINGAPARTMENTS_AVG          21
29       REG_CITY_NOT_LIVE_CITY          20
7               NAME_TYPE_SUITE          19
19              FLAG_WORK_PHONE          18
8              NAME_INCOME_TYPE          14
4                  CNT_CHILDREN          13
3               FLAG_OWN_REALTY          12
61   AMT_REQ_CREDIT_BUREAU_HOUR          11
21                   FLAG_PHONE          10
60             FLAG_DOCUMENT_18          10
45           FONDKAPREMONT_MODE           7
47           WALLSMATERIAL_MODE           7
64    AMT_REQ_CREDIT_BUREAU_MON           6
22                   FLAG_EMAIL           6
59             FLAG_DOCUMENT_11           5
48          EMERGENCYSTATE_MODE           5
55              FLAG_DOCUMENT_6           5
63   AMT_REQ_CREDIT_BUREAU_WEEK           4
62    AMT_REQ_CREDIT_BUREAU_DAY           4
30      LIVE_CITY_NOT_WORK_CITY           3
27   REG_REGION_NOT_LIVE_REGION           2
28  LIVE_REGION_NOT_WORK_REGION           2
54              FLAG_DOCUMENT_5           2
20             FLAG_CONT_MOBILE           1
46               HOUSETYPE_MODE           1
18                   FLAG_MOBIL           0
58              FLAG_DOCUMENT_9           0
57              FLAG_DOCUMENT_8           0
56              FLAG_DOCUMENT_7           0
53              FLAG_DOCUMENT_4           0

## **Drop Columns**

In [20]:
columns = ['FLAG_DOCUMENT_5', 
                   'FLAG_DOCUMENT_6', 
                   'LIVE_CITY_NOT_WORK_CITY', 
                   'AMT_REQ_CREDIT_BUREAU_DAY',
                   'FLAG_DOCUMENT_8',
                   'FLAG_MOBIL',
                   'FLAG_CONT_MOBILE',
                   'REG_REGION_NOT_LIVE_REGION',
                   'FLAG_DOCUMENT_9',
                   'FLAG_DOCUMENT_4',
                   'FLAG_DOCUMENT_7'] 
data = data.drop(columns=columns)

### **LGBM**

In [21]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [22]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.75

## **Feature Importance**

In [23]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                        Feature  Importance
30                 EXT_SOURCE_3         242
29                 EXT_SOURCE_2         240
28                 EXT_SOURCE_1         223
13                   DAYS_BIRTH         209
6                   AMT_ANNUITY         192
14                DAYS_EMPLOYED         173
16              DAYS_ID_PUBLISH         146
47       DAYS_LAST_PHONE_CHANGE         113
15            DAYS_REGISTRATION         105
27            ORGANIZATION_TYPE          91
5              AMT_INCOME_TOTAL          80
12   REGION_POPULATION_RELATIVE          68
21              OCCUPATION_TYPE          67
1                   CODE_GENDER          56
17                  OWN_CAR_AGE          52
9           NAME_EDUCATION_TYPE          52
31               APARTMENTS_AVG          52
10           NAME_FAMILY_STATUS          50
24      HOUR_APPR_PROCESS_START          45
33  YEARS_BEGINEXPLUATATION_AVG          41
46     DEF_30_CNT_SOCIAL_CIRCLE          41
45     OBS_30_CNT_SOCIAL_CIRCLE          39
55   AMT_REQ_CREDIT_BUREAU_YEAR          39
32             BASEMENTAREA_AVG          35
35               COMMONAREA_AVG          34
40            NONLIVINGAREA_AVG          34
54    AMT_REQ_CREDIT_BUREAU_QRT          31
2                  FLAG_OWN_CAR          31
48              FLAG_DOCUMENT_3          29
38                 LANDAREA_AVG          29
0            NAME_CONTRACT_TYPE          29
36                ENTRANCES_AVG          28
23   WEEKDAY_APPR_PROCESS_START          28
37                FLOORSMAX_AVG          25
34              YEARS_BUILD_AVG          24
8              NAME_INCOME_TYPE          21
39      NONLIVINGAPARTMENTS_AVG          21
11            NAME_HOUSING_TYPE          20
22         REGION_RATING_CLIENT          19
26       REG_CITY_NOT_LIVE_CITY          18
18              FLAG_WORK_PHONE          17
3               FLAG_OWN_REALTY          14
7               NAME_TYPE_SUITE          14
50             FLAG_DOCUMENT_18          12
43           WALLSMATERIAL_MODE          11
53    AMT_REQ_CREDIT_BUREAU_MON          11
19                   FLAG_PHONE          11
51   AMT_REQ_CREDIT_BUREAU_HOUR          10
4                  CNT_CHILDREN           9
25  LIVE_REGION_NOT_WORK_REGION           4
49             FLAG_DOCUMENT_11           4
20                   FLAG_EMAIL           3
44          EMERGENCYSTATE_MODE           3
52   AMT_REQ_CREDIT_BUREAU_WEEK           3
41           FONDKAPREMONT_MODE           1
42               HOUSETYPE_MODE           1

## **Drop Columns**

In [24]:
columns = ['FLAG_DOCUMENT_18', 
                   'FLAG_PHONE', 
                   'AMT_REQ_CREDIT_BUREAU_MON', 
                   'LIVE_REGION_NOT_WORK_REGION',
                   'FLAG_OWN_REALTY',
                   'EMERGENCYSTATE_MODE',
                   'AMT_REQ_CREDIT_BUREAU_WEEK',
                   'HOUSETYPE_MODE',
                   'FLAG_DOCUMENT_11',
                   'FLAG_EMAIL',
                ] 
data = data.drop(columns=columns)

### **LGBM**

In [25]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [26]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.75

## **Feature Importance**

In [27]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                        Feature  Importance
25                 EXT_SOURCE_2         252
26                 EXT_SOURCE_3         237
12                   DAYS_BIRTH         222
24                 EXT_SOURCE_1         213
5                   AMT_ANNUITY         202
13                DAYS_EMPLOYED         161
15              DAYS_ID_PUBLISH         159
41       DAYS_LAST_PHONE_CHANGE         116
14            DAYS_REGISTRATION         112
23            ORGANIZATION_TYPE          92
4              AMT_INCOME_TOTAL          87
18              OCCUPATION_TYPE          67
11   REGION_POPULATION_RELATIVE          65
8           NAME_EDUCATION_TYPE          56
16                  OWN_CAR_AGE          56
1                   CODE_GENDER          55
21      HOUR_APPR_PROCESS_START          49
27               APARTMENTS_AVG          49
9            NAME_FAMILY_STATUS          49
45   AMT_REQ_CREDIT_BUREAU_YEAR          45
40     DEF_30_CNT_SOCIAL_CIRCLE          39
39     OBS_30_CNT_SOCIAL_CIRCLE          38
29  YEARS_BEGINEXPLUATATION_AVG          38
28             BASEMENTAREA_AVG          36
20   WEEKDAY_APPR_PROCESS_START          34
44    AMT_REQ_CREDIT_BUREAU_QRT          33
2                  FLAG_OWN_CAR          33
36            NONLIVINGAREA_AVG          31
34                 LANDAREA_AVG          30
0            NAME_CONTRACT_TYPE          29
31               COMMONAREA_AVG          29
42              FLAG_DOCUMENT_3          28
19         REGION_RATING_CLIENT          28
10            NAME_HOUSING_TYPE          28
33                FLOORSMAX_AVG          27
30              YEARS_BUILD_AVG          27
32                ENTRANCES_AVG          24
7              NAME_INCOME_TYPE          20
35      NONLIVINGAPARTMENTS_AVG          20
22       REG_CITY_NOT_LIVE_CITY          16
6               NAME_TYPE_SUITE          15
17              FLAG_WORK_PHONE          14
3                  CNT_CHILDREN          13
38           WALLSMATERIAL_MODE          13
43   AMT_REQ_CREDIT_BUREAU_HOUR          10
37           FONDKAPREMONT_MODE           3

## **Drop Columns**

In [28]:
columns = ['FLAG_OWN_CAR', 
                   'REGION_RATING_CLIENT', 
                   'COMMONAREA_AVG', 
                   'NAME_CONTRACT_TYPE',
                   'FLAG_DOCUMENT_3',
                   'FLOORSMAX_AVG',
                   'NONLIVINGAPARTMENTS_AVG',
                   'NAME_INCOME_TYPE',
                   'REG_CITY_NOT_LIVE_CITY',
                   'WALLSMATERIAL_MODE',
                   'CNT_CHILDREN',
                   'FLAG_WORK_PHONE',
                   'AMT_REQ_CREDIT_BUREAU_HOUR',
                   'NAME_TYPE_SUITE',
                   'FONDKAPREMONT_MODE'
                ] 
data = data.drop(columns=columns)

### **LGBM**

In [29]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [30]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.75

## **Feature Importance**

In [31]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                        Feature  Importance
18                 EXT_SOURCE_3         271
17                 EXT_SOURCE_2         253
16                 EXT_SOURCE_1         249
7                    DAYS_BIRTH         228
2                   AMT_ANNUITY         217
8                 DAYS_EMPLOYED         163
10              DAYS_ID_PUBLISH         151
9             DAYS_REGISTRATION         143
28       DAYS_LAST_PHONE_CHANGE         117
15            ORGANIZATION_TYPE         107
1              AMT_INCOME_TOTAL          98
11                  OWN_CAR_AGE          96
6    REGION_POPULATION_RELATIVE          87
19               APARTMENTS_AVG          68
12              OCCUPATION_TYPE          68
3           NAME_EDUCATION_TYPE          60
14      HOUR_APPR_PROCESS_START          56
21  YEARS_BEGINEXPLUATATION_AVG          52
4            NAME_FAMILY_STATUS          52
29    AMT_REQ_CREDIT_BUREAU_QRT          49
30   AMT_REQ_CREDIT_BUREAU_YEAR          49
24                 LANDAREA_AVG          49
0                   CODE_GENDER          48
20             BASEMENTAREA_AVG          44
26     OBS_30_CNT_SOCIAL_CIRCLE          39
27     DEF_30_CNT_SOCIAL_CIRCLE          37
22              YEARS_BUILD_AVG          34
23                ENTRANCES_AVG          34
25            NONLIVINGAREA_AVG          32
5             NAME_HOUSING_TYPE          25
13   WEEKDAY_APPR_PROCESS_START          24

## **Drop Columns**

In [32]:
columns = ['NAME_FAMILY_STATUS', 
                   'AMT_REQ_CREDIT_BUREAU_YEAR', 
                   'CODE_GENDER', 
                   'DEF_30_CNT_SOCIAL_CIRCLE',
                   'OBS_30_CNT_SOCIAL_CIRCLE',
                   'ENTRANCES_AVG',
                   'AMT_REQ_CREDIT_BUREAU_QRT',
                   'NONLIVINGAREA_AVG',
                   'WEEKDAY_APPR_PROCESS_START',
                   'YEARS_BUILD_AVG',
                   'NAME_HOUSING_TYPE'
                ] 
data = data.drop(columns=columns)

### **LGBM**

In [33]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [34]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.75

## **Feature Importance**

In [35]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                        Feature  Importance
13                 EXT_SOURCE_2         299
14                 EXT_SOURCE_3         298
12                 EXT_SOURCE_1         279
1                   AMT_ANNUITY         252
4                    DAYS_BIRTH         247
5                 DAYS_EMPLOYED         200
7               DAYS_ID_PUBLISH         173
19       DAYS_LAST_PHONE_CHANGE         162
6             DAYS_REGISTRATION         155
11            ORGANIZATION_TYPE         119
3    REGION_POPULATION_RELATIVE         118
9               OCCUPATION_TYPE         112
0              AMT_INCOME_TOTAL         109
8                   OWN_CAR_AGE          99
15               APARTMENTS_AVG          80
10      HOUR_APPR_PROCESS_START          72
17  YEARS_BEGINEXPLUATATION_AVG          64
2           NAME_EDUCATION_TYPE          62
16             BASEMENTAREA_AVG          55
18                 LANDAREA_AVG          45

## **Drop Columns**

In [36]:
columns = ['OWN_CAR_AGE', 
                   'APARTMENTS_AVG', 
                   'YEARS_BEGINEXPLUATATION_AVG', 
                   'HOUR_APPR_PROCESS_START',
                   'BASEMENTAREA_AVG',
                   'NAME_EDUCATION_TYPE',
                   'LANDAREA_AVG'
                ] 
data = data.drop(columns=columns)

### **LGBM**

In [37]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [38]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.74

## **Feature Importance**

In [39]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                       Feature  Importance
10                EXT_SOURCE_2         323
1                  AMT_ANNUITY         313
11                EXT_SOURCE_3         310
9                 EXT_SOURCE_1         308
3                   DAYS_BIRTH         296
6              DAYS_ID_PUBLISH         236
4                DAYS_EMPLOYED         219
5            DAYS_REGISTRATION         212
12      DAYS_LAST_PHONE_CHANGE         197
0             AMT_INCOME_TOTAL         173
2   REGION_POPULATION_RELATIVE         147
8            ORGANIZATION_TYPE         135
7              OCCUPATION_TYPE         131

## **Missing Values**

In [40]:
functions.MissingValues(data)

Empty DataFrame
Columns: [NumberMissing, PercentageMissing, DataType]
Index: []

In [41]:
num_value = -99999

for col in data.select_dtypes(include=['float16', 'float32', 'float64']).columns:
    data[col].fillna(num_value, inplace=True)

### **LGBM**

In [42]:
X = data.drop('TARGET', axis=1)
y = data['TARGET']

X, y = shuffle(X, y, random_state=random_state)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=random_state)

In [43]:
model = lgb.LGBMClassifier(boosting_type='gbdt', 
                           num_leaves=31, 
                           max_depth=-1, 
                           learning_rate=0.1, 
                           n_estimators=100,
                           verbose=-1)

model.fit(X_train, y_train)

y_prob = model.predict_proba(X_test)[:, 1]  

auc_score = roc_auc_score(y_test, y_prob)
print(f"AUC Score: {auc_score:.2f}")

AUC Score: 0.74

## **Feature Importance**

In [44]:
# Get feature importance and sort by importance
feature_importance = model.feature_importances_
feature_names = X.columns

# Create a DataFrame to hold feature importance values
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

importance_df

                       Feature  Importance
10                EXT_SOURCE_2         323
1                  AMT_ANNUITY         313
11                EXT_SOURCE_3         310
9                 EXT_SOURCE_1         308
3                   DAYS_BIRTH         296
6              DAYS_ID_PUBLISH         236
4                DAYS_EMPLOYED         219
5            DAYS_REGISTRATION         212
12      DAYS_LAST_PHONE_CHANGE         197
0             AMT_INCOME_TOTAL         173
2   REGION_POPULATION_RELATIVE         147
8            ORGANIZATION_TYPE         135
7              OCCUPATION_TYPE         131